.m-logo {
    @include wt(full);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: sz(xs) 0 sz(xxl) 0;

    @include mq(1120px) {
    //making the box horizontal and fixed
        flex-direction: row;
        position: fixed;
        opacity: 0.15;
        //centering the logo around the profile pic
        top: 8em; left: -0.7em;
        z-index: 10;
        padding-top: 0;

    }
}

.m-logo__container {
    @include wt(full);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-logo__pic {
    display: inline-block;
    width: 135%;
    max-width: 1000px;

    @include mq(1120px) {
        width: 100%;
        max-width: 100%;
    }
}


// .m-logo__container {
//     width: 150%;
//     margin: 0 auto;
// }