.m-main {
    @include wt(full);
    margin: 0 auto;
    position: relative;
    z-index: 100;

    // border: 2px solid cyan;

    @include mq(1120px) {
        margin: 0;
        @include wt(two-third);
        flex-grow: 1;
        padding-right: sz(xxl);
        padding-top: sz(xl);
    }
}