.m-main {
    @include wt(full);
    margin: 0 auto;
    position: relative;
    z-index: 100;

    @include mq(1120px, null, 540px) {
        margin: 0;
        @include wt(two-third);
        flex-grow: 1;
        padding-top: 3.8em;
        
        //this is spacing for the side-nav
        padding-right: sz(xxx);
    }
}