// 1. profile
// 2. skills

.m-sidebar {
    //gutters
    padding-right: sz(g);
    padding-left: sz(g);
    width: 100%;
    // border: 1px solid yellow;

    @include mq(1120px, null, 600px) {
        @include wt(third);
        position: fixed;
        z-index: 100;
        left: 0;
        overflow: scroll;
    }
}


// 1. PROFILE
// ________________________


.m-sidebar__profile-pic {
    width: 40%; height: auto;
    padding-top: 40vw;
    position: relative;
    z-index: 100;

    @include mq(488px){
        width: 40%;
        max-width: 40em;
        padding-top: 35vw;
    }

    @include mq(680px) {
        width: 50%;
        max-width: 30em;
        padding-top: 28vw;
    }

    //vertical
    @include mq (1120px, null, 600px) {
        padding-top: sz(xxl);
        width: 18vh;
        max-width: 14.5em;
        transform-origin: center center 0;
        transform: scale(0.95);
    }
}

.m-sidebar__profile-desc {
    opacity: 1;
    max-height: 500px;
    //transition for re-appearing
    // frist it weights for the accordion to collapse
    // then it starts dropping. and halfway the opacity increases
    //opacity takes longer to appear. it looks smooter this way
    transition: max-height 230ms ease-in 230ms, 
                opacity 300ms ease-in 300ms;
}

.m-sidebar__profile--isHidden {
    //this how you collapse the height
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    //transition for disappearing
    // this needs to happen before accordion. Stages the next animation
    // and it happens quickly so it won't overlap
    transition: max-height 230ms ease-out, 
                opacity 230ms ease-out;
}




.m-sidebar__profile-title {
    text-shadow: 3px 3px 0px $color-blue;
    padding-top: 15vw;

    @include mq(488px, 1120px) {
        font-size: 4.8em;
        padding-top: 12vw;
    }

    @include mq(680px) {
        padding-top: 8vw;
    }
    //vertical spacing
    @include mq(1120px, null, 600px) {
        font-size: 5vh;
        padding-top: 5vh;
    }

    @include mq(1120px, null, 768px) {
        font-size: 3.4em;
    }
}

.m-sidebar__profile-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 112px;
    margin: 25px auto 0;
    background: $color-orange;
}


.m-sidebar__profile-kicker {
    width: 300px;
    text-align: center;
    @include fz(xl);
    line-height: $font-large;
    color: $color-gray;
    padding-top: 20px;
      
    @include mq(488px, 1120px) {
        width: 350px;
        @include fz(xxl);
    }
    //vertical
    @include mq(1120px, null, 600px) {
        font-size: 2.7vh;
    }

    @include mq(1120px, null, 680px) {
        @include fz(xl);
    }
}



// 2. Skills
// ________________________

.m-sidebar__skills {
    width: 90%;
    max-width: 500px;
    padding: 8.6em 0 7.2em;

    //vertical spacing
    @include mq(1120px, null, 600px) {
        padding: 7vh 0;
    }
}

.m-sidebar__skills-header {
    @include fz(xxx);
    color: $color-orange;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;

    @include mq(488px, 1120px){
        @include fz(mega);
    }
}

.m-sidebar__skills-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 15px auto 0;
    background: $color-midgray;
}

//making the list take the full width of its container
// each item inside skill-cat has a flex property
// this means it grows and shrinks.
// so it's important for the parent container to have
//a full/fixed width

.m-sidebar__skills-container {
    width: 100%;
    padding: sz(m) 0;

    //vertical spacing
    @include mq(1120px, null, 600px) {
        padding: 2vh 0;
    }
}
