// 1. profile
// 2. skills

.m-sidebar {
    //gutters
    padding-right: sz(g);
    padding-left: sz(g);
    width: 100%;
    // border: 1px solid yellow;

    @include mq(1120px, null, 600px) {
        @include wt(third);
        position: fixed;
        z-index: 100;
        left: 0;
        overflow: scroll;
    }
}


// 1. PROFILE
// ________________________


.m-sidebar__profile-pic {
    width: 15em; height: auto;
    padding-top: sz(xl);
    position: relative;
    z-index: 100;

    @include mq(488px, 1120px){
        width: 18em;
    }
    //vertical
    @include mq (1120px, null, 600px) {
        width: 18vh;
        max-width: 14.5em;
    }
}

.m-sidebar__profile-desc {
    position: relative;
    z-index: 100;
    // background: $color-darkgray;
    transform: scale(1);
    opacity: 1;
    transition: transform 100ms ease-in-out, opacity 50ms ease-in-out;
}

.m-sidebar__profile--isHidden {
    transform: translateY(-5px);
    opacity: 0;
}


.m-sidebar__profile-title {
    text-shadow: 3px 3px 0px $color-blue;
    padding-top: 48px;

    @include mq(488px, 1120px) {
        font-size: 4.8em;
    }
    //vertical spacing
    @include mq(1120px, null, 600px) {
        font-size: 5vh;
        padding-top: 5vh;
    }

    @include mq(1120px, null, 768px) {
        font-size: 3.6em;
    }
}

.m-sidebar__profile-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 112px;
    margin: 25px auto 0;
    background: $color-orange;
}


.m-sidebar__profile-kicker {
    width: 300px;
    text-align: center;
    @include fz(xl);
    line-height: $font-large;
    color: $color-gray;
    padding-top: 20px;
      
    @include mq(488px, 1120px) {
        width: 350px;
        @include fz(xxl);
    }
    //vertical
    @include mq(1120px, null, 600px) {
        font-size: 2.7vh;
    }

    @include mq(1120px, null, 680px) {
        @include fz(xl);
    }
}



// 2. Skills
// ________________________

.m-sidebar__skills {
    width: 90%;
    max-width: 500px;
    padding: 8.6em 0 7.2em;

    //vertical spacing
    @include mq(1120px, null, 600px) {
        padding: 7vh 0;
    }
}

.m-sidebar__skills-header {
    @include fz(xxx);
    color: $color-orange;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;

    @include mq(488px, 1120px){
        @include fz(mega);
    }
}

.m-sidebar__skills-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 15px auto 0;
    background: $color-midgray;
}

//making the list take the full width of its container
// each item inside skill-cat has a flex property
// this means it grows and shrinks.
// so it's important for the parent container to have
//a full/fixed width

.m-sidebar__skills-container {
    width: 100%;
    padding: sz(m) 0;

    //vertical spacing
    @include mq(1120px, null, 600px) {
        padding: 2vh 0;
    }
}
