.m-sidebar {
    //gutters
    padding-right: sz(g);
    padding-left: sz(g);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.m-sidebar__profile-logo {    
    padding-top: sz(l);
}

.m-sidebar__profile-pic {
    border: 1px solid cyan;
    width: 18.2em; height: auto;
    padding-top: sz(xs);
}

.m-sidebar__profile-title {
    text-shadow: 3px 3px 0px $color-blue;
    padding-top: 64px;
}

.m-sidebar__profile-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 112px;
    margin: 25px auto 0;
    background: $color-orange;
}


.m-sidebar__profile-kicker {
    width: 258px;
    text-align: center;
    @include fz(l);
    line-height: $font-large;
    color: $color-gray;
    padding-top: 20px;
}


.m-sidebar__skills {
    border: 1px solid cyan;
}

