// 1. profile
// 2. skills


.m-sidebar {
    //gutters
    padding-right: sz(g);
    padding-left: sz(g);
    width: 100%;
    // border: 1px solid $color-midgray;
}

// 1. PROFILE
// ________________________

.m-sidebar__profile-logo {    
    // padding-top: sz(l);
    width: 175%;
}

.m-sidebar__profile-pic {
    width: 15em; height: auto;
    padding-top: sz(xl);

    @include mq(488px, 1024px){
        width: 18em;
    }
}

.m-sidebar__profile-title {
    text-shadow: 3px 3px 0px $color-blue;
    padding-top: 48px;

    @include mq(488px, 1024px) {
        font-size: 4.8em;
    }
}

.m-sidebar__profile-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 112px;
    margin: 25px auto 0;
    background: $color-orange;
}


.m-sidebar__profile-kicker {
    width: 300px;
    text-align: center;
    @include fz(xl);
    line-height: $font-large;
    color: $color-gray;
    padding-top: 20px;

    @include mq(488px, 1024px) {
        width: 350px;
        @include fz(xxl);
    }
}



// 2. Skills
// ________________________

.m-sidebar__skills {
    width: 90%;
    max-width: 500px;
    padding-top: sz(xxx);
}

.m-sidebar__skills-header {
    @include fz(xxx);
    color: $color-orange;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
}

.m-sidebar__skills-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 15px auto 0;
    background: $color-midgray;
}

//making the list take the full width of its container
// each item inside skill-cat has a flex property
// this means it grows and shrinks.
// so it's important for the parent container to have
//a full/fixed width

.m-sidebar__skills-container {
    width: 100%;
    padding: sz(m) 0;
}
