.m-sidebar {
    //gutters
    padding-right: sz(g);
    padding-left: sz(g);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.m-sidebar__logo {    
    padding-top: sz(l);
}

.m-sidebar__profile-pic {
    border: 1px solid cyan;
    width: 18.2em; height: auto;
    padding-top: sz(xs);
}
