/*
=====================================================
 * 1. Base: 
    Base typographical styles and baseline grid.

 * 2. Font size reference: 
    used in tools/fonts.scss

 * 3. High-level:
    High-level base settings.

* 4. Font-Family
=====================================================
 */



/* 1. Base  
*____________________ */

$global-font-size:    16px !default;
$global-line-height:  24px !default;



/* 2. Font Size Reference
 *____________________ */


$font-mini: 1.1em !default;
$font-tiny: 1.2em !default;
$font-small: 1.3em !default;
$font-med: 1.4em !default;
$font-large: 1.6em !default;
$font-xlarge: 1.8em !default;
$font-big: 2em !default;
$font-huge: 2.2em !default;
$font-mega: 2.8em !default;
$font-giga: 3.2em !default;


/* 3. High-level
 *____________________ */
$base-font-size:        $font-large !default;
$base-line-height:      $font-mega !default;



/* 4. font-family
 *____________________ */
$primary-font-family: 'Oswald', sans-serif;
$secondary-font-family:'Roboto', sans-serif;
