//the dummmy sidebar for when the main sidebar is fixed
//this keeps the layout in tact
.s-xl-sidebar{
    overflow:hidden;
    @include mq(1120px, null, 540px) {
        //gutters
        @include wt(third);
        max-width: 425px;
        padding: 0 sz(xxl);
        height: 100vh;
    }
}