* {
    font-size: 10px;
}


body {
    background-color: $color-darkgray;
}

h1 {
    color: $color-lightgray;
    font-family: $primary-font-family;
    font-size: 3.4em;
    font-weight: $font-reg;
    letter-spacing: 7px;
}

h2 {
    color: $color-midgray;
    font-family: $primary-font-family;
    @include fz(giga);
}

h3 {
    color: $color-darkgray;
    font-family: $primary-font-family;
    @include fz(xl);
}

p {
    color: $color-midgray;
    font-family: $secondary-font-family;
    @include fz(m);
    font-weight: $font-thin;
}


li {
    list-style: none;
}