* {
    font-size: 10px;
}


h1 {
    color: $color-lightgray;
    font-family: $primary-font-family;
    @include fz(mega);
}

h2 {
    color: $color-midgray;
    font-family: $primary-font-family;
    @include fz(giga);
}

h3 {
    color: $color-darkgray;
    font-family: $primary-font-family;
    @include fz(xl);
}

p {
    color: $color-midgray;
    font-family: $secondary-font-family;
    @include fz(m);
    font-weight: $font-thin;
}