//general wrapper
.l-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 200px; 
}

//stacks items vertically
.l-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}