//stacks items vertically
.l-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

//general wrapper
.l-container {
    width: 90%;
    // max-width: 1200px;
    margin: 0 auto;

    // border: 5px solid green;
    @include mq(1120px,null,540px) {
        @include wt(full);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

}

