.c-link-btn {
    opacity: 0;
    position: absolute;
    z-index: 1000;
    left: 50%; top: 60%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 123ms ease-out,
                opacity 123ms ease-out;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 15px;

    background: rgba($color-orange, 0.95);


    &:hover {
        .c-link-btn__text {
            @include fz(m);
            font-weight: $font-reg;
            margin-right: 10px;
            transition: font-size 150ms ease-out;
        }
    }

}

.c-link-btn__text {
    color: $color-white;
    font-weight: $font-reg;
    font-size: 0;
    letter-spacing: 0.06em;
    transition: font-size 130ms ease-out;
}

.c-link-btn__icon {
    width: 25px; height: auto;

    & path {
        fill: $color-white;
    }
}