


// 1. Project Thumbnail
// ______________________


.c-project__thumb{
    //flex-box: c-project
    align-self: stretch;

    position: relative;
    height: 180px;
    margin-bottom: 40px;
    background-image: url('../../images/sample-project.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px rgba($color-gray, 0.75);

    @include mq(576px) {
        height: 280px;
    }

    //change shadow on desktop
    @include mq(1120px, null, 600px) {
        box-shadow: 0 2px 2px $color-gray;
        // background-size: cover;
    }

    // when container shrink, height changes
    // change the styling to accomodate the change in size
    @include mq(1470px, null, 600px) {
        background-size: cover;
        max-height: 300px;
    }

    &:hover {
        .c-link-btn {
            animation: hover-link-icon 150ms ease-in-out normal forwards;
        }
    }
}





// 2. Project Info Section
// ______________________

.c-project__info {
    align-self: stretch;
    padding-top: 20px;
    border-top: 1px solid $color-gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    //desktop mode
    @include mq(768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


// 2.1 Project title
// ______________________
.c-project__title {
    letter-spacing: 1px;
    line-height: 1.6em;
    //desktop mode
    @include mq(768px) {

        @include wt(five);
        text-align: left;
        //for the tail
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-decoration: none;
    }
}

.c-project__title::before {
    @include mq(768px) {
        content: "";
        width: 20px;
        height: 2px;
        background: $color-orange;
        margin-right: 10px;
        display: inline-block;
    }
}


// 2.2 Project description section
// _____________________________

.c-project__desc {
    padding-top: 15px;

    //desktop mode
    @include mq(768px) {
        @include wt(seven);
        text-align: left;
        padding: 0;
        //vertical flex
        justify-content: flex-start;
        align-items: flex-start;
    }
}

// 2.2.1 Project roles 
// _____________________________

.c-project__desc-roles {
    //related to project__desc flexbox
    order: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;;

    padding-top: 20px;

    //desktop mode
    @include mq(768px) {
        padding: 0;
    }


}

.c-project__role {
    @include fz(m);
    line-height: 1.6em;

    &::after {
        content: "/";
        color: $color-orange;
        padding:0 5px;
    }   

    &:last-child::after {
        content: "";
    } 
}


// 2.2.2 Project Caption under roles 
// _____________________________

.c-project__desc-caption {
    //related to project__desc flexbox
    order: 1;
    
    @include wt(eleven);
    @include fz(l);
    line-height: 1.4em;

    //desktop mode
    @include mq(768px) {
        order: 2;
        @include wt(full);
        padding-top: 10px;
    }
}



