.c-portfolio-header {
    letter-spacing: 2px;

    @include mq(680px) {
        font-size: 3.6em;
    }
}

.c-portfolio-header::before {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    margin: 0 auto 15px;
    background: $color-orange;
}