


// 1. Project Thumbnail
// ______________________


.c-project__thumb{
    //flex-box: c-project
    align-self: stretch;

    position: relative;
    height: 180px;
    margin-bottom: 20px;
    background-image: url('../../images/sample-project.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(576px) {
        height: 280px;
    }

    &:hover .c-project__corner-icon {
        display: none;
    }

    &:hover .c-project__link {
        // transform-origin: center center 0;
        animation: hover-link-icon 150ms ease-in-out normal forwards;
    }
}

.c-project__corner-icon {
    position: absolute;
    width: 20px; height: auto;
    right: 20px;
    top: 20px;

    & path {
        fill: rgba($color-white, 0.2);
        stroke: rgba($color-midgray, 0.5);
        stroke-width: 1px;
    }

    @include mq(1120px) {
        display: none;
    }

}


// 1. Project Hover
// ______________________

.c-project__link {
    position: absolute;
    left: 50%; top: 50%;
    opacity: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px;

    background: rgba($color-white, 0.7);
    border: 1px solid $color-orange;


    &:hover {

        & .c-project__link-text {
            @include fz(xl);
            color: $color-orange;
            margin-right: 10px;  
        }
    }

}

.c-project__link-text {
    color: $color-white;
    font-size: 0;
    transform-origin: left center 0;
    transition: font-size 150ms ease-out;
}

.c-project__link-icon {
    width: 20px; height: auto;

    & path {
        fill: $color-orange;
    }
}





// 2. Project Info Section
// ______________________

.c-project__info {
    align-self: stretch;
    padding-top: 20px;
    border-top: 1px solid $color-gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    //desktop mode
    @include mq(768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}


// 2.1 Project title
// ______________________
.c-project__title {
    //desktop mode
    @include mq(768px) {
        text-align: left;
        @include wt(half);
    }
}

// 2.2 Project description section
// _____________________________

.c-project__desc {
    padding-top: 15px;

    //desktop mode
    @include mq(768px) {
        text-align: left;
        @include wt(half);
        padding: 0;
        //vertical flex
        justify-content: flex-start;
        align-items: flex-start;
    }
}

// 2.2.1 Project roles 
// _____________________________

.c-project__desc-roles {
    //related to project__desc flexbox
    order: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 20px;

    //desktop mode
    @include mq(768px) {
        padding: 0;
    }


}

.c-project__role {
    @include fz(s);

    &::after {
        content: "/";
        color: $color-orange;
        padding:0 5px;
    }   

    &:last-child::after {
        content: "";
    } 
}


// 2.2.2 Project Caption under roles 
// _____________________________

.c-project__desc-caption {
    //related to project__desc flexbox
    order: 1;
    
    @include wt(eleven);
    @include fz(l);
    line-height: 1.4em;

    //desktop mode
    @include mq(768px) {
        order: 2;
        @include wt(full);
        padding-top: 20px;
    }
}



