
.c-social {
    @include wt(five);
    min-width: 300px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: sz(xxl) 0;

    @include mq(1120px, null, 600px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    //removing the contacts from sidebar on small screens
    @media all and (max-width: 1120px) {
        .m-sidebar & {
            display: none;
        }
    } 

    //small heights
    @media all and (min-width: 1120px) and (max-height: 600px) {
        .m-sidebar & {
            display: none;
        }
    }

    //vertical spacing 
    @include mq(1120px, null, 600px) {
        padding: 5vh 0;
    }

    @include mq(1120px, null, 768px) {
        padding: 4vh 0;
    }

}

.c-social__link {
    @include wt(quarter);
    text-align: center;
}

.c-social__icon {
    @include wt(full);
    height: auto;
    max-width: sz(xl);
}