

//Skill Category Tab

.c-skill-cat__tab {
    // for skill-cat flexbox
    align-self: stretch;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: sz(l) 0;

    &:hover {
        cursor: pointer;

        .c-skill-cat__divider::before {
            transform: scaleX(1);
        }

        .c-skill-cat__icon {
            opacity: 1;
        }
    }

    // vertical spacing
    @include mq(1120px, null, 600px) {
        padding: 2.4vh 0;
    }

    @include mq(1120px, null, 768px) {
        padding: sz(l) 0;
    }
    
}

.c-skill-cat__title {
    color: $color-lightgray;
    letter-spacing: 0.1em;
    @include fz(l);
    font-weight: $font-reg;

    @include mq(488px, 1120px){
        @include fz(xl);
    }

    //small height
    @media all and (min-width: 1220px) and (max-height: 600px) {
        @include fz(xl);
    }

    //vertical spacing
    @include mq(1120px, null, 600px) {
        font-size: 1.5em;
    }

    @include mq(1120px, null, 768px) {
        @include fz(l);
    }

}

.c-skill-cat__divider {
    width: 100%; // important to set this relative width for super stretchy items
    flex: 50;   // max growth 
    height: 1px;
    position: relative;
    background: $color-gray;
    margin: 0 10px;
}

.c-skill-cat__divider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $color-orange;
    display: inline-block;
    transform-origin: left center 0;
    transform: scaleX(0);
    transition: transform 150ms ease-in;
}

.c-skill-cat__icon {
    width: sz(s); height: sz(s);
    fill: $color-lightgray;
    opacity: 0.7;
    flex: 1;
    flex-basis: sz(s); // so it doesn't shrink beyond its smallest width
    transform: rotate(0deg);
    transition: opacity 150ms ease-out 150ms, transform 250ms ease-in-out;
}


//Skill Category Pod
.c-skill-cat__pod {
    background: $color-navy;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: sz(s);
    transform-origin: center top 0;
    animation: open-pod 400ms ease-in-out normal forwards;
}

.c-skill-cat__pod--isClosed {
    display: none;
    opacity: 0;
}

.c-skill-cat__pod-item {
    @include wt(half);
    padding-bottom: sz(l);
}